<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.backstage.mapper.AdvanceMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.backstage.domain.Advance">
    <!--@mbg.generated-->
    <!--@Table advance-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="advance_name" jdbcType="VARCHAR" property="advanceName" />
    <result column="advance_content" jdbcType="VARCHAR" property="advanceContent" />
    <result column="advance_money" jdbcType="VARCHAR" property="advanceMoney" />
    <result column="contract_id" jdbcType="VARCHAR" property="contractId" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="is_flag" jdbcType="INTEGER" property="isFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, type_id, advance_name, advance_content, advance_money, contract_id, owner_id, 
    create_id, is_flag, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from advance
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from advance
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.backstage.domain.Advance">
    <!--@mbg.generated-->
    insert into advance (id, type_id, advance_name, 
      advance_content, advance_money, contract_id, 
      owner_id, create_id, is_flag, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{advanceName,jdbcType=VARCHAR}, 
      #{advanceContent,jdbcType=VARCHAR}, #{advanceMoney,jdbcType=VARCHAR}, #{contractId,jdbcType=VARCHAR}, 
      #{ownerId,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{isFlag,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.backstage.domain.Advance">
    <!--@mbg.generated-->
    insert into advance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="advanceName != null">
        advance_name,
      </if>
      <if test="advanceContent != null">
        advance_content,
      </if>
      <if test="advanceMoney != null">
        advance_money,
      </if>
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="isFlag != null">
        is_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="advanceName != null">
        #{advanceName,jdbcType=VARCHAR},
      </if>
      <if test="advanceContent != null">
        #{advanceContent,jdbcType=VARCHAR},
      </if>
      <if test="advanceMoney != null">
        #{advanceMoney,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        #{isFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.backstage.domain.Advance">
    <!--@mbg.generated-->
    update advance
    <set>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="advanceName != null">
        advance_name = #{advanceName,jdbcType=VARCHAR},
      </if>
      <if test="advanceContent != null">
        advance_content = #{advanceContent,jdbcType=VARCHAR},
      </if>
      <if test="advanceMoney != null">
        advance_money = #{advanceMoney,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null">
        contract_id = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        is_flag = #{isFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.backstage.domain.Advance">
    <!--@mbg.generated-->
    update advance
    set type_id = #{typeId,jdbcType=VARCHAR},
      advance_name = #{advanceName,jdbcType=VARCHAR},
      advance_content = #{advanceContent,jdbcType=VARCHAR},
      advance_money = #{advanceMoney,jdbcType=VARCHAR},
      contract_id = #{contractId,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      is_flag = #{isFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>