<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.backstage.mapper.DepositAdvanceMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.backstage.domain.DepositAdvance">
    <!--@mbg.generated-->
    <!--@Table deposit_advance-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="c_money" jdbcType="VARCHAR" property="cMoney" />
    <result column="receivable_id" jdbcType="VARCHAR" property="receivableId" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="is_flag" jdbcType="INTEGER" property="isFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, c_money, receivable_id, create_id, is_flag, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from deposit_advance
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from deposit_advance
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.backstage.domain.DepositAdvance">
    <!--@mbg.generated-->
    insert into deposit_advance (id, user_id, c_money, 
      receivable_id, create_id, is_flag, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{cMoney,jdbcType=VARCHAR}, 
      #{receivableId,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{isFlag,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.backstage.domain.DepositAdvance">
    <!--@mbg.generated-->
    insert into deposit_advance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="cMoney != null">
        c_money,
      </if>
      <if test="receivableId != null">
        receivable_id,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="isFlag != null">
        is_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="cMoney != null">
        #{cMoney,jdbcType=VARCHAR},
      </if>
      <if test="receivableId != null">
        #{receivableId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        #{isFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.backstage.domain.DepositAdvance">
    <!--@mbg.generated-->
    update deposit_advance
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="cMoney != null">
        c_money = #{cMoney,jdbcType=VARCHAR},
      </if>
      <if test="receivableId != null">
        receivable_id = #{receivableId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        is_flag = #{isFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.backstage.domain.DepositAdvance">
    <!--@mbg.generated-->
    update deposit_advance
    set user_id = #{userId,jdbcType=VARCHAR},
      c_money = #{cMoney,jdbcType=VARCHAR},
      receivable_id = #{receivableId,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      is_flag = #{isFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>