<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.ContractMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.Contract">
        <!--@mbg.generated-->
        <!--@Table contract-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="type_id" jdbcType="VARCHAR" property="typeId"/>
        <result column="party_a" jdbcType="VARCHAR" property="partyA"/>
        <result column="owner_id" jdbcType="VARCHAR" property="ownerId"/>
        <result column="party_b" jdbcType="VARCHAR" property="partyB"/>
        <result column="contract_money" jdbcType="VARCHAR" property="contractMoney"/>
        <result column="contract_status" jdbcType="VARCHAR" property="contractStatus"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="deposit" jdbcType="VARCHAR" property="deposit"/>
        <result column="file_src" jdbcType="VARCHAR" property="fileSrc"/>
        <result column="configure_id" jdbcType="VARCHAR" property="configureId"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="is_flag" jdbcType="INTEGER" property="isFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        type_id,
        party_a,
        owner_id,
        party_b,
        contract_money,
        contract_status,
        area,
        deposit,
        file_src,
        configure_id,
        create_id,
        is_flag,
        create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from contract
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from contract
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insertSelective" parameterType="com.ruoyi.property.domain.Contract">
        <!--@mbg.generated-->
        insert into contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="partyA != null">
                party_a,
            </if>
            <if test="ownerId != null">
                owner_id,
            </if>
            <if test="partyB != null">
                party_b,
            </if>
            <if test="contractMoney != null">
                contract_money,
            </if>
            <if test="contractStatus != null">
                contract_status,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="deposit != null">
                deposit,
            </if>
            <if test="fileSrc != null">
                file_src,
            </if>
            <if test="configureId != null">
                configure_id,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=VARCHAR},
            </if>
            <if test="partyA != null">
                #{partyA,jdbcType=VARCHAR},
            </if>
            <if test="ownerId != null">
                #{ownerId,jdbcType=VARCHAR},
            </if>
            <if test="partyB != null">
                #{partyB,jdbcType=VARCHAR},
            </if>
            <if test="contractMoney != null">
                #{contractMoney,jdbcType=VARCHAR},
            </if>
            <if test="contractStatus != null">
                #{contractStatus,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="deposit != null">
                #{deposit,jdbcType=VARCHAR},
            </if>
            <if test="fileSrc != null">
                #{fileSrc,jdbcType=VARCHAR},
            </if>
            <if test="configureId != null">
                #{configureId,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="isFlag != null">
                #{isFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.property.domain.Contract">
        <!--@mbg.generated-->
        update contract
        <set>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=VARCHAR},
            </if>
            <if test="partyA != null">
                party_a = #{partyA,jdbcType=VARCHAR},
            </if>
            <if test="ownerId != null">
                owner_id = #{ownerId,jdbcType=VARCHAR},
            </if>
            <if test="partyB != null">
                party_b = #{partyB,jdbcType=VARCHAR},
            </if>
            <if test="contractMoney != null">
                contract_money = #{contractMoney,jdbcType=VARCHAR},
            </if>
            <if test="contractStatus != null">
                contract_status = #{contractStatus,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="deposit != null">
                deposit = #{deposit,jdbcType=VARCHAR},
            </if>
            <if test="fileSrc != null">
                file_src = #{fileSrc,jdbcType=VARCHAR},
            </if>
            <if test="configureId != null">
                configure_id = #{configureId,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=VARCHAR},
            </if>
            <if test="isFlag != null">
                is_flag = #{isFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectContractList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from contract
        <where>
            is_flag = 0
            <if test="typeId != null  and typeId != ''">
                and type_id = #{typeId}
            </if>
            <if test="partyA != null  and partyA != ''">
                and party_a
                    =
                    #{partyA}
            </if>
            <if test="ownerId != null  and ownerId != ''">
                and owner_id
                    =
                    #{ownerId}
            </if>
            <if test="partyB != null  and partyB != ''">
                and party_b
                    =
                    #{partyB}
            </if>
            <if test="contractMoney != null  and contractMoney != ''">
                and contract_money
                    =
                    #{contractMoney}
            </if>
            <if test="contractStatus != null  and contractStatus != ''">
                and contract_status
                    =
                    #{contractStatus}
            </if>
            <if test="area != null  and area != ''">
                and area
                    =
                    #{area}
            </if>
            <if test="deposit != null  and deposit != ''">
                and deposit
                    =
                    #{deposit}
            </if>
            <if test="fileSrc != null and fileSrc != ''">
                and file_src = #{fileSrc}
            </if>
            <if test="configureId != null and configureId != ''">
                and configure_id = #{configureId,jdbcType=VARCHAR}
            </if>
            <if test="createId != null  and createId != ''">
                and create_id
                    =
                    #{createId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                <!-- 开始时间检索 -->
                AND date_format
                        (
                            create_time,
                            '%y%m%d'
                        )
                    &gt;=
                    date_format
                        (
                            #{params.beginTime},
                            '%y%m%d'
                        )
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <!-- 结束时间检索 -->
                AND date_format
                        (
                            create_time,
                            '%y%m%d'
                        )
                    &lt;=
                    date_format
                        (
                            #{params.endTime},
                            '%y%m%d'
                        )
            </if>
        </where>
    </select>

    <select id="selectContractById" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from contract
        where id = #{id}
    </select>

    <insert id="insertContract" parameterType="com.ruoyi.property.domain.Contract">
        insert into contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typeId != null and typeId != ''">
                type_id,
            </if>
            <if test="partyA != null and partyA != ''">
                party_a,
            </if>
            <if test="ownerId != null and ownerId != ''">
                owner_id,
            </if>
            <if test="partyB != null and partyB != ''">
                party_b,
            </if>
            <if test="contractMoney != null and contractMoney != ''">
                contract_money,
            </if>
            <if test="contractStatus != null and contractStatus != ''">
                contract_status,
            </if>
            <if test="area != null and area != ''">
                area,
            </if>
            <if test="deposit != null and deposit != ''">
                deposit,
            </if>
            <if test="fileSrc != null and fileSrc != ''">
                file_src,
            </if>
            <if test="configureId != null and configureId != ''">
                configure_id,
            </if>
            <if test="createId != null and createId != ''">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="typeId != null and typeId != ''">
                #{typeId},
            </if>
            <if test="partyA != null and partyA != ''">
                #{partyA},
            </if>
            <if test="ownerId != null and ownerId != ''">
                #{ownerId},
            </if>
            <if test="partyB != null and partyB != ''">
                #{partyB},
            </if>
            <if test="contractMoney != null and contractMoney != ''">
                #{contractMoney},
            </if>
            <if test="contractStatus != null and contractStatus != ''">
                #{contractStatus},
            </if>
            <if test="area != null and area != ''">
                #{area},
            </if>
            <if test="deposit != null and deposit != ''">
                #{deposit},
            </if>
            <if test="fileSrc != null and fileSrc != ''">
                #{fileSrc},
            </if>
            <if test="configureId != null and configureId != ''">
                #{configureId},
            </if>
            <if test="createId != null and createId != ''">
                #{createId},
            </if>
            <if test="isFlag != null">
                #{isFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateContract">
        update contract
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeId != null and typeId != ''">
                type_id =
                    #{typeId},
            </if>
            <if test="partyA != null and partyA != ''">
                party_a =
                    #{partyA},
            </if>
            <if test="ownerId != null and ownerId != ''">
                owner_id =
                    #{ownerId},
            </if>
            <if test="partyB != null and partyB != ''">
                party_b =
                    #{partyB},
            </if>
            <if test="contractMoney != null and contractMoney != ''">
                contract_money =
                    #{contractMoney},
            </if>
            <if test="contractStatus != null and contractStatus != ''">
                contract_status =
                    #{contractStatus},
            </if>
            <if test="area != null and area != ''">
                area =
                    #{area},
            </if>
            <if test="deposit != null and deposit != ''">
                deposit =
                    #{deposit},
            </if>
            <if test="fileSrc != null and fileSrc != ''">
                file_src = #{fileSrc,jdbcType=VARCHAR},
            </if>
            <if test="configureId != null and configureId != ''">
                configure_id = #{configureId,jdbcType=VARCHAR},
            </if>
            <if test="createId != null and createId != ''">
                create_id =
                    #{createId},
            </if>
            <if test="isFlag != null">
                is_flag =
                    #{isFlag},
            </if>
            <if test="createTime != null">
                create_time =
                    #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContractById" parameterType="String">
        delete
        from contract
        where id = #{id}
    </delete>

    <update id="deleteContractByIds" parameterType="String">
        update contract
        set is_flag = 1 where id in
        <foreach close=")" collection="array" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="checkContract" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from contract
        where configure_id in
        <foreach open="(" close=")" collection="array" separator="," item="configureId">
            #{configureId}
        </foreach>
        and is_flag = 0
    </select>
</mapper>