<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.CruiseMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.Cruise">
    <!--@mbg.generated-->
    <!--@Table cruise-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="cruise_id" jdbcType="VARCHAR" property="cruiseId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="cruise_content" jdbcType="VARCHAR" property="cruiseContent" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="is_flag" jdbcType="INTEGER" property="isFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, cruise_id, type_id, cruise_content, create_id, is_flag, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from cruise
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from cruise
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.property.domain.Cruise">
    <!--@mbg.generated-->
    update cruise
    <set>
      <if test="cruiseId != null">
        cruise_id = #{cruiseId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="cruiseContent != null">
        cruise_content = #{cruiseContent,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        is_flag = #{isFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="selectCruiseList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cruise
        <where>
            is_flag = 0
            <if test="cruiseId != null  and cruiseId != ''">
                and cruise_id =
                    #{cruiseId}
            </if>
            <if test="typeId != null  and typeId != ''">
                and type_id
                    =
                    #{typeId}
            </if>
            <if test="cruiseContent != null  and cruiseContent != ''">
                and cruise_content
                    =
                    #{cruiseContent}
            </if>
            <if test="createId != null  and createId != ''">
                and create_id
                    =
                    #{createId}
            </if>
        </where>
    </select>

    <select id="selectCruiseById" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cruise
        where id =
              #{id}
    </select>

    <insert id="insertCruise">
        insert into cruise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cruiseId != null and cruiseId != ''">
                cruise_id,
            </if>
            <if test="typeId != null and typeId != ''">
                type_id,
            </if>
            <if test="cruiseContent != null and cruiseContent != ''">
                cruise_content,
            </if>
            <if test="createId != null and createId != ''">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="cruiseId != null and cruiseId != ''">
                #{cruiseId},
            </if>
            <if test="typeId != null and typeId != ''">
                #{typeId},
            </if>
            <if test="cruiseContent != null and cruiseContent != ''">
                #{cruiseContent},
            </if>
            <if test="createId != null and createId != ''">
                #{createId},
            </if>
            <if test="isFlag != null">
                #{isFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateCruise">
        update cruise
        <trim prefix="SET" suffixOverrides=",">
            <if test="cruiseId != null and cruiseId != ''">
                cruise_id =
                    #{cruiseId},
            </if>
            <if test="typeId != null and typeId != ''">
                type_id =
                    #{typeId},
            </if>
            <if test="cruiseContent != null and cruiseContent != ''">
                cruise_content =
                    #{cruiseContent},
            </if>
            <if test="createId != null and createId != ''">
                create_id =
                    #{createId},
            </if>
            <if test="isFlag != null">
                is_flag =
                    #{isFlag},
            </if>
            <if test="createTime != null">
                create_time =
                    #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCruiseById" parameterType="String">
        delete
        from cruise
        where id = #{id}
    </delete>

    <update id="deleteCruiseByIds" parameterType="String">
        update cruise
        set is_flag = 1 where id in
        <foreach close=")" collection="array" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </update>
</mapper>