<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.EasyTrMapper">
    <select id="userIdToOwnerId" resultType="java.lang.String">
        SELECT
          `owner`.id 
        FROM
          `owner`
          LEFT JOIN sys_user ON sys_user.phonenumber = `owner`.phone 
        WHERE
          sys_user.user_id = #{userId}
        LIMIT 1
        <choose>
            <when test="lockMode == 1">
                FOR SHARED
            </when>
            <when test="lockMode == 2">
                FOR UPDATE
            </when>
        </choose>
    </select>
</mapper>