<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.FirmInfoMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.FirmInfo">
        <!--@mbg.generated-->
        <!--@Table firm_info-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="firm_name" jdbcType="VARCHAR" property="firmName"/>
        <result column="legal_person" jdbcType="VARCHAR" property="legalPerson"/>
        <result column="contact" jdbcType="VARCHAR" property="contact"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="trade_type" jdbcType="VARCHAR" property="tradeType"/>
        <result column="build_area" jdbcType="VARCHAR" property="buildArea"/>
        <result column="floor_space" jdbcType="VARCHAR" property="floorSpace"/>
        <result column="invest_amount" jdbcType="VARCHAR" property="investAmount"/>
        <result column="business_info" jdbcType="VARCHAR" property="businessInfo"/>
        <result column="park_in_info" jdbcType="VARCHAR" property="parkInInfo"/>
        <result column="furnish_info" jdbcType="VARCHAR" property="furnishInfo"/>
        <result column="firm_filing" jdbcType="VARCHAR" property="firmFiling"/>
        <result column="prod_craft" jdbcType="VARCHAR" property="prodCraft"/>
        <result column="poll_link" jdbcType="VARCHAR" property="pollLink"/>
        <result column="poll_amount" jdbcType="VARCHAR" property="pollAmount"/>
        <result column="hydropower" jdbcType="VARCHAR" property="hydropower"/>
        <result column="eia_type" jdbcType="VARCHAR" property="eiaType"/>
        <result column="eia_info" jdbcType="VARCHAR" property="eiaInfo"/>
        <result column="is_high" jdbcType="INTEGER" property="isHigh"/>
        <result column="honor_proof" jdbcType="VARCHAR" property="honorProof"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_flag" jdbcType="INTEGER" property="isFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        user_id,
        firm_name,
        legal_person,
        contact,
        id_card,
        trade_type,
        build_area,
        floor_space,
        invest_amount,
        business_info,
        park_in_info,
        furnish_info,
        firm_filing,
        prod_craft,
        poll_link,
        poll_amount,
        hydropower,
        eia_type,
        eia_info,
        is_high,
        honor_proof,
        remark,
        is_flag,
        create_time
    </sql>

    <select id="selectFirmInfoList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from firm_info
        <where>
            is_flag = 0
            <if test="userId != null  and userId != ''">
                and user_id =
                    #{userId}
            </if>
            <if test="firmName != null  and firmName != ''">
                and firm_name
                    like
                    concat
                        (
                            '%',
                            #{firmName},
                            '%'
                        )
            </if>
            <if test="legalPerson != null  and legalPerson != ''">
                and legal_person
                    =
                    #{legalPerson}
            </if>
            <if test="contact != null  and contact != ''">
                and contact
                    =
                    #{contact}
            </if>
            <if test="idCard != null  and idCard != ''">
                and id_card
                    =
                    #{idCard}
            </if>
            <if test="tradeType != null  and tradeType != ''">
                and trade_type
                    =
                    #{tradeType}
            </if>
            <if test="buildArea != null  and buildArea != ''">
                and build_area
                    =
                    #{buildArea}
            </if>
            <if test="floorSpace != null  and floorSpace != ''">
                and floor_space
                    =
                    #{floorSpace}
            </if>
            <if test="investAmount != null  and investAmount != ''">
                and invest_amount
                    =
                    #{investAmount}
            </if>
            <if test="businessInfo != null  and businessInfo != ''">
                and business_info
                    =
                    #{businessInfo}
            </if>
            <if test="parkInInfo != null  and parkInInfo != ''">
                and park_in_info
                    =
                    #{parkInInfo}
            </if>
            <if test="furnishInfo != null  and furnishInfo != ''">
                and furnish_info
                    =
                    #{furnishInfo}
            </if>
            <if test="firmFiling != null  and firmFiling != ''">
                and firm_filing
                    =
                    #{firmFiling}
            </if>
            <if test="prodCraft != null  and prodCraft != ''">
                and prod_craft
                    =
                    #{prodCraft}
            </if>
            <if test="pollLink != null  and pollLink != ''">
                and poll_link
                    =
                    #{pollLink}
            </if>
            <if test="pollAmount != null  and pollAmount != ''">
                and poll_amount
                    =
                    #{pollAmount}
            </if>
            <if test="hydropower != null  and hydropower != ''">
                and hydropower
                    =
                    #{hydropower}
            </if>
            <if test="eiaType != null  and eiaType != ''">
                and eia_type
                    =
                    #{eiaType}
            </if>
            <if test="eiaInfo != null  and eiaInfo != ''">
                and eia_info
                    =
                    #{eiaInfo}
            </if>
            <if test="isHigh != null">
                and is_high
                    =
                    #{isHigh}
            </if>
            <if test="honorProof != null  and honorProof != ''">
                and honor_proof
                    =
                    #{honorProof}
            </if>
        </where>
    </select>

    <select id="selectFirmInfoById" parameterType="String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from firm_info
        where id =
              #{id}
    </select>

    <insert id="insertFirmInfo">
        insert into firm_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null and userId != ''">
                user_id,
            </if>
            <if test="firmName != null">
                firm_name,
            </if>
            <if test="legalPerson != null">
                legal_person,
            </if>
            <if test="contact != null">
                contact,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="tradeType != null">
                trade_type,
            </if>
            <if test="buildArea != null">
                build_area,
            </if>
            <if test="floorSpace != null">
                floor_space,
            </if>
            <if test="investAmount != null">
                invest_amount,
            </if>
            <if test="businessInfo != null">
                business_info,
            </if>
            <if test="parkInInfo != null">
                park_in_info,
            </if>
            <if test="furnishInfo != null">
                furnish_info,
            </if>
            <if test="firmFiling != null">
                firm_filing,
            </if>
            <if test="prodCraft != null">
                prod_craft,
            </if>
            <if test="pollLink != null">
                poll_link,
            </if>
            <if test="pollAmount != null">
                poll_amount,
            </if>
            <if test="hydropower != null">
                hydropower,
            </if>
            <if test="eiaType != null">
                eia_type,
            </if>
            <if test="eiaInfo != null">
                eia_info,
            </if>
            <if test="isHigh != null">
                is_high,
            </if>
            <if test="honorProof != null">
                honor_proof,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null and userId != ''">
                #{userId},
            </if>
            <if test="firmName != null">
                #{firmName},
            </if>
            <if test="legalPerson != null">
                #{legalPerson},
            </if>
            <if test="contact != null">
                #{contact},
            </if>
            <if test="idCard != null">
                #{idCard},
            </if>
            <if test="tradeType != null">
                #{tradeType},
            </if>
            <if test="buildArea != null">
                #{buildArea},
            </if>
            <if test="floorSpace != null">
                #{floorSpace},
            </if>
            <if test="investAmount != null">
                #{investAmount},
            </if>
            <if test="businessInfo != null">
                #{businessInfo},
            </if>
            <if test="parkInInfo != null">
                #{parkInInfo},
            </if>
            <if test="furnishInfo != null">
                #{furnishInfo},
            </if>
            <if test="firmFiling != null">
                #{firmFiling},
            </if>
            <if test="prodCraft != null">
                #{prodCraft},
            </if>
            <if test="pollLink != null">
                #{pollLink},
            </if>
            <if test="pollAmount != null">
                #{pollAmount},
            </if>
            <if test="hydropower != null">
                #{hydropower},
            </if>
            <if test="eiaType != null">
                #{eiaType},
            </if>
            <if test="eiaInfo != null">
                #{eiaInfo},
            </if>
            <if test="isHigh != null">
                #{isHigh},
            </if>
            <if test="honorProof != null">
                #{honorProof},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="isFlag != null">
                #{isFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateFirmInfo">
        update firm_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">
                user_id =
                    #{userId},
            </if>
            <if test="firmName != null">
                firm_name =
                    #{firmName},
            </if>
            <if test="legalPerson != null">
                legal_person =
                    #{legalPerson},
            </if>
            <if test="contact != null">
                contact =
                    #{contact},
            </if>
            <if test="idCard != null">
                id_card =
                    #{idCard},
            </if>
            <if test="tradeType != null">
                trade_type =
                    #{tradeType},
            </if>
            <if test="buildArea != null">
                build_area =
                    #{buildArea},
            </if>
            <if test="floorSpace != null">
                floor_space =
                    #{floorSpace},
            </if>
            <if test="investAmount != null">
                invest_amount =
                    #{investAmount},
            </if>
            <if test="businessInfo != null">
                business_info =
                    #{businessInfo},
            </if>
            <if test="parkInInfo != null">
                park_in_info =
                    #{parkInInfo},
            </if>
            <if test="furnishInfo != null">
                furnish_info =
                    #{furnishInfo},
            </if>
            <if test="firmFiling != null">
                firm_filing =
                    #{firmFiling},
            </if>
            <if test="prodCraft != null">
                prod_craft =
                    #{prodCraft},
            </if>
            <if test="pollLink != null">
                poll_link =
                    #{pollLink},
            </if>
            <if test="pollAmount != null">
                poll_amount =
                    #{pollAmount},
            </if>
            <if test="hydropower != null">
                hydropower =
                    #{hydropower},
            </if>
            <if test="eiaType != null">
                eia_type =
                    #{eiaType},
            </if>
            <if test="eiaInfo != null">
                eia_info =
                    #{eiaInfo},
            </if>
            <if test="isHigh != null">
                is_high =
                    #{isHigh},
            </if>
            <if test="honorProof != null">
                honor_proof =
                    #{honorProof},
            </if>
            <if test="remark != null">
                remark =
                    #{remark},
            </if>
            <if test="isFlag != null">
                is_flag =
                    #{isFlag},
            </if>
            <if test="createTime != null">
                create_time =
                    #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFirmInfoById" parameterType="String">
        delete
        from firm_info
        where id = #{id}
    </delete>

    <update id="deleteFirmInfoByIds" parameterType="String">
        update firm_info
        set is_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>