<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.FurnishMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.Furnish">
        <!--@mbg.generated-->
        <!--@Table furnish-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="stop_time" jdbcType="TIMESTAMP" property="stopTime"/>
        <result column="img_src" jdbcType="VARCHAR" property="imgSrc"/>
        <result column="applicant_time" jdbcType="TIMESTAMP" property="applicantTime"/>
        <result column="audit_status" jdbcType="INTEGER" property="auditStatus"/>
        <result column="audit_id" jdbcType="VARCHAR" property="auditId"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="is_flag" jdbcType="INTEGER" property="isFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        project_name,
        start_time,
        stop_time,
        img_src,
        applicant_time,
        audit_status,
        audit_id,
        create_id,
        is_flag,
        create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from furnish
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from furnish
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insertSelective" parameterType="com.ruoyi.property.domain.Furnish">
        <!--@mbg.generated-->
        insert into furnish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="projectName != null">
                project_name,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="stopTime != null">
                stop_time,
            </if>
            <if test="imgSrc != null">
                img_src,
            </if>
            <if test="applicantTime != null">
                applicant_time,
            </if>
            <if test="auditStatus != null">
                audit_status,
            </if>
            <if test="auditId != null">
                audit_id,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="stopTime != null">
                #{stopTime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgSrc != null">
                #{imgSrc,jdbcType=VARCHAR},
            </if>
            <if test="applicantTime != null">
                #{applicantTime,jdbcType=TIMESTAMP},
            </if>
            <if test="auditStatus != null">
                #{auditStatus,jdbcType=INTEGER},
            </if>
            <if test="auditId != null">
                #{auditId,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="isFlag != null">
                #{isFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.property.domain.Furnish">
        <!--@mbg.generated-->
        update furnish
        <set>
            <if test="projectName != null">
                project_name = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="stopTime != null">
                stop_time = #{stopTime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgSrc != null">
                img_src = #{imgSrc,jdbcType=VARCHAR},
            </if>
            <if test="applicantTime != null">
                applicant_time = #{applicantTime,jdbcType=TIMESTAMP},
            </if>
            <if test="auditStatus != null">
                audit_status = #{auditStatus,jdbcType=INTEGER},
            </if>
            <if test="auditId != null">
                audit_id = #{auditId,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=VARCHAR},
            </if>
            <if test="isFlag != null">
                is_flag = #{isFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectFurnishList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from furnish
        <where>
            is_flag = 0
            <if test="projectName != null  and projectName != ''">
                and project_name like concat('%', #{projectName}, '%')
            </if>
            <if test="startTime != null">
                and start_time = #{startTime}
            </if>
            <if test="stopTime != null">
                and stop_time = #{stopTime}
            </if>
            <if test="imgSrc != null  and imgSrc != ''">
                and img_src = #{imgSrc}
            </if>
            <if test="applicantTime != null">
                and applicant_time = #{applicantTime}
            </if>
            <if test="auditStatus != null">
                and audit_status = #{auditStatus}
            </if>
            <if test="auditId != null  and auditId != ''">
                and audit_id
                    =
                    #{auditId}
            </if>
            <if test="createId != null  and createId != ''">
                and create_id = #{createId}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectFurnishById" parameterType="String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from furnish
        where is_flag = 0
          and id = #{id}
    </select>

    <insert id="insertFurnish">
        insert into furnish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="projectName != null and projectName != ''">
                project_name,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="stopTime != null">
                stop_time,
            </if>
            <if test="imgSrc != null and imgSrc != ''">
                img_src,
            </if>
            <if test="applicantTime != null">
                applicant_time,
            </if>
            <if test="auditStatus != null">
                audit_status,
            </if>
            <if test="auditId != null">
                audit_id,
            </if>
            <if test="createId != null and createId != ''">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="projectName != null and projectName != ''">
                #{projectName},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="stopTime != null">
                #{stopTime},
            </if>
            <if test="imgSrc != null and imgSrc != ''">
                #{imgSrc},
            </if>
            <if test="applicantTime != null">
                #{applicantTime},
            </if>
            <if test="auditStatus != null">
                #{auditStatus},
            </if>
            <if test="auditId != null">
                #{auditId},
            </if>
            <if test="createId != null and createId != ''">
                #{createId},
            </if>
            <if test="isFlag != null">
                #{isFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateFurnish">
        update furnish
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">
                project_name = #{projectName},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="stopTime != null">
                stop_time = #{stopTime},
            </if>
            <if test="imgSrc != null and imgSrc != ''">
                img_src = #{imgSrc},
            </if>
            <if test="applicantTime != null">
                applicant_time = #{applicantTime},
            </if>
            <if test="auditStatus != null">
                audit_status = #{auditStatus},
            </if>
            <if test="auditId != null">
                audit_id = #{auditId},
            </if>
            <if test="createId != null and createId != ''">
                create_id = #{createId},
            </if>
            <if test="isFlag != null">
                is_flag = #{isFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFurnishById" parameterType="String">
        delete
        from furnish
        where id = #{id}
    </delete>

    <update id="deleteFurnishByIds" parameterType="String">
        update furnish
        set is_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateAuditStatus">
        update furnish f
        set f.audit_status = #{auditStatus}
        where id = #{id}
    </update>
</mapper>