<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.HousesMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.Houses">
        <!--@mbg.generated-->
        <!--@Table houses-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="houses_no" jdbcType="VARCHAR" property="housesNo"/>
        <result column="owner_id" jdbcType="VARCHAR" property="ownerId"/>
        <result column="contract_id" jdbcType="VARCHAR" property="contractId"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="houses_status" jdbcType="INTEGER" property="housesStatus"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="is_flag" jdbcType="INTEGER" property="isFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        houses_no,
        owner_id,
        contract_id,
        area,
        houses_status,
        create_id,
        is_flag,
        create_time
    </sql>

    <select id="selectHousesList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from houses
        <where>
            is_flag = 0
            <if test="housesNo != null  and housesNo != ''">
                and houses_no =
                    #{housesNo}
            </if>
            <if test="ownerId != null  and ownerId != ''">
                and owner_id = #{ownerId}
            </if>
            <if test="contractId != null and contractId != ''">
                and contract_id = #{contractId}
            </if>
            <if test="area != null  and area != ''">
                and area = #{area}
            </if>
            <if test="housesStatus != null">
                and houses_status = #{housesStatus}
            </if>
            <if test="createId != null  and createId != ''">
                and create_id = #{createId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                <!-- 开始时间检索 -->
                AND date_format(create_time, '%y%m%d') &gt;= date_format(#{params.beginTime}, '%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <!-- 结束时间检索 -->
                AND date_format(create_time, '%y%m%d') &lt;= date_format(#{params.endTime}, '%y%m%d')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectHousesById" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from houses
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="insertHouses">
        insert into houses
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="housesNo != null and housesNo != ''">
                houses_no,
            </if>
            <if test="ownerId != null and ownerId != ''">
                owner_id,
            </if>
            <if test="contractId != null and contractId != ''">
                contract_id,
            </if>
            <if test="area != null and area != ''">
                area,
            </if>
            <if test="housesStatus != null">
                houses_status,
            </if>
            <if test="createId != null and createId != ''">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="housesNo != null and housesNo != ''">
                #{housesNo},
            </if>
            <if test="ownerId != null and ownerId != ''">
                #{ownerId},
            </if>
            <if test="contractId != null and contractId != ''">
                #{contractId},
            </if>
            <if test="area != null and area != ''">
                #{area},
            </if>
            <if test="housesStatus != null">
                #{housesStatus},
            </if>
            <if test="createId != null and createId != ''">
                #{createId},
            </if>
            <if test="isFlag != null">
                #{isFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateHouses">
        update houses
        <trim prefix="SET" suffixOverrides=",">
            <if test="housesNo != null and housesNo != ''">
                houses_no = #{housesNo},
            </if>
            <if test="ownerId != null and ownerId != ''">
                owner_id = #{ownerId},
            </if>
            <if test="contractId != null and contractId != ''">
                contract_id = #{contractId},
            </if>
            <if test="area != null and area != ''">
                area = #{area},
            </if>
            <if test="housesStatus != null">
                houses_status = #{housesStatus},
            </if>
            <if test="createId != null and createId != ''">
                create_id = #{createId},
            </if>
            <if test="isFlag != null">
                is_flag = #{isFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHousesById" parameterType="String">
        delete
        from houses
        where id = #{id}
    </delete>

    <update id="deleteHousesByIds" parameterType="String">
        update houses
        set is_flag = 1 where id in
        <foreach close=")" collection="array" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="selectHousesByNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from houses h
        where h.houses_no = #{housesNo,jdbcType=VARCHAR}
    </select>
</mapper>