<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.HydropowerMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.Hydropower">
        <!--@mbg.generated-->
        <!--@Table hydropower-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="house_id" jdbcType="VARCHAR" property="houseId"/>
        <result column="water" jdbcType="VARCHAR" property="water"/>
        <result column="electricity" jdbcType="VARCHAR" property="electricity"/>
        <result column="stat_time" jdbcType="TIMESTAMP" property="statTime"/>
        <result column="stop_time" jdbcType="TIMESTAMP" property="stopTime"/>
        <result column="is_flag" jdbcType="INTEGER" property="isFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        house_id,
        water,
        electricity,
        stat_time,
        stop_time,
        is_flag,
        create_time
    </sql>

    <select id="selectHydropowerList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hydropower
        <where>
            is_flag = 0
            <if test="houseId != null  and houseId != ''">
                and house_id =
                    #{houseId}
            </if>
            <if test="water != null  and water != ''">
                and water
                    =
                    #{water}
            </if>
            <if test="electricity != null  and electricity != ''">
                and electricity
                    =
                    #{electricity}
            </if>
            <if test="statTime != null">
                and stat_time
                    =
                    #{statTime}
            </if>
            <if test="stopTime != null">
                and stop_time
                    =
                    #{stopTime}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectHydropowerById" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hydropower
        where id =
              #{id}
    </select>

    <insert id="insertHydropower">
        insert into hydropower
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="houseId != null and houseId != ''">
                house_id,
            </if>
            <if test="water != null">
                water,
            </if>
            <if test="electricity != null">
                electricity,
            </if>
            <if test="statTime != null">
                stat_time,
            </if>
            <if test="stopTime != null">
                stop_time,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="houseId != null and houseId != ''">
                #{houseId},
            </if>
            <if test="water != null">
                #{water},
            </if>
            <if test="electricity != null">
                #{electricity},
            </if>
            <if test="statTime != null">
                #{statTime},
            </if>
            <if test="stopTime != null">
                #{stopTime},
            </if>
            <if test="isFlag != null">
                #{isFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateHydropower">
        update hydropower
        <trim prefix="SET" suffixOverrides=",">
            <if test="houseId != null and houseId != ''">
                house_id =
                    #{houseId},
            </if>
            <if test="water != null">
                water =
                    #{water},
            </if>
            <if test="electricity != null">
                electricity =
                    #{electricity},
            </if>
            <if test="statTime != null">
                stat_time =
                    #{statTime},
            </if>
            <if test="stopTime != null">
                stop_time =
                    #{stopTime},
            </if>
            <if test="isFlag != null">
                is_flag =
                    #{isFlag},
            </if>
            <if test="createTime != null">
                create_time =
                    #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHydropowerById" parameterType="String">
        delete
        from hydropower
        where id = #{id}
    </delete>

    <update id="deleteHydropowerByIds" parameterType="String">
        update hydropower
        set is_flag = 1 where id in
        <foreach close=")" collection="array" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </update>
</mapper>