<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.OwnerMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.Owner">
        <!--@mbg.generated-->
        <!--@Table `owner`-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="identity" jdbcType="VARCHAR" property="identity"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="owner_status" jdbcType="INTEGER" property="ownerStatus"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="is_flag" jdbcType="INTEGER" property="isFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        username,
        gender,
        `identity`,
        phone,
        owner_status,
        create_id,
        is_flag,
        create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `owner`
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from `owner`
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insertSelective" parameterType="com.ruoyi.property.domain.Owner">
        <!--@mbg.generated-->
        insert into `owner`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="identity != null">
                `identity`,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="ownerStatus != null">
                owner_status,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="identity != null">
                #{identity,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="ownerStatus != null">
                #{ownerStatus,jdbcType=INTEGER},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="isFlag != null">
                #{isFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.property.domain.Owner">
        <!--@mbg.generated-->
        update `owner`
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="identity != null">
                `identity` = #{identity,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="ownerStatus != null">
                owner_status = #{ownerStatus,jdbcType=INTEGER},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=VARCHAR},
            </if>
            <if test="isFlag != null">
                is_flag = #{isFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectOwnerList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from owner
        <where>
            is_flag = 0
            <if test="username != null  and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="gender != null">
                and gender
                    =
                    #{gender}
            </if>
            <if test="identity != null  and identity != ''">
                and identity
                    =
                    #{identity}
            </if>
            <if test="phone != null  and phone != ''">
                and phone
                    =
                    #{phone}
            </if>
            <if test="ownerStatus != null">
                and owner_status
                    =
                    #{ownerStatus}
            </if>
            <if test="createId != null  and createId != ''">
                and create_id
                    =
                    #{createId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                <!-- 开始时间检索 -->
                AND date_format(create_time, '%y%m%d') &gt;= date_format(#{params.beginTime}, '%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <!-- 结束时间检索 -->
                AND date_format(create_time, '%y%m%d') &lt;= date_format(#{params.endTime}, '%y%m%d')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectOwnerById" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from owner
        where id =
              #{id}
    </select>

    <insert id="insertOwner">
        insert into owner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null and username != ''">
                username,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="identity != null and identity != ''">
                identity,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="ownerStatus != null">
                owner_status,
            </if>
            <if test="createId != null and createId != ''">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="username != null and username != ''">
                #{username},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="identity != null and identity != ''">
                #{identity},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="ownerStatus != null">
                #{ownerStatus},
            </if>
            <if test="createId != null and createId != ''">
                #{createId},
            </if>
            <if test="isFlag != null">
                #{isFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateOwner">
        update owner
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">
                username =
                    #{username},
            </if>
            <if test="gender != null">
                gender =
                    #{gender},
            </if>
            <if test="identity != null and identity != ''">
                identity =
                    #{identity},
            </if>
            <if test="phone != null and phone != ''">
                phone =
                    #{phone},
            </if>
            <if test="ownerStatus != null">
                owner_status =
                    #{ownerStatus},
            </if>
            <if test="createId != null and createId != ''">
                create_id =
                    #{createId},
            </if>
            <if test="isFlag != null">
                is_flag =
                    #{isFlag},
            </if>
            <if test="createTime != null">
                create_time =
                    #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOwnerById" parameterType="String">
        delete
        from owner
        where id = #{id}
    </delete>

    <update id="deleteOwnerByIds" parameterType="String">
        update owner
        set is_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>