<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.ParkResourceMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.ParkResource">
        <!--@mbg.generated-->
        <!--@Table park_resource-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="resource_name" jdbcType="VARCHAR" property="resourceName"/>
        <result column="res_status" jdbcType="INTEGER" property="resStatus"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="is_flag" jdbcType="INTEGER" property="isFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        resource_name,
        res_status,
        create_id,
        is_flag,
        create_time
    </sql>

    <select id="selectParkResourceList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from park_resource
        <where>
            is_flag = 0
            <if test="resourceName != null  and resourceName != ''">
                and resource_name like concat('%', #{resourceName}, '%')
            </if>
            <if test="resStatus != null">
                and res_status = #{resStatus}
            </if>
            <if test="createId != null  and createId != ''">
                and create_id = #{createId}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectParkResourceById" parameterType="String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from park_resource
        where id = #{id}
    </select>

    <insert id="insertParkResource">
        insert into park_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="resourceName != null and resourceName != ''">
                resource_name,
            </if>
            <if test="resStatus != null">
                res_status,
            </if>
            <if test="createId != null and createId != ''">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="resourceName != null and resourceName != ''">
                #{resourceName},
            </if>
            <if test="resStatus != null">
                #{resStatus},
            </if>
            <if test="createId != null and createId != ''">
                #{createId},
            </if>
            <if test="isFlag != null">
                #{isFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateParkResource">
        update park_resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="resourceName != null and resourceName != ''">
                resource_name =
                    #{resourceName},
            </if>
            <if test="resStatus != null">
                res_status =
                    #{resStatus},
            </if>
            <if test="createId != null and createId != ''">
                create_id =
                    #{createId},
            </if>
            <if test="isFlag != null">
                is_flag =
                    #{isFlag},
            </if>
            <if test="createTime != null">
                create_time =
                    #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteParkResourceById" parameterType="String">
        delete
        from park_resource
        where id = #{id}
    </delete>

    <update id="deleteParkResourceByIds" parameterType="String">
        update park_resource
        set is_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>