<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.ParkReserveMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.ParkReserve">
        <!--@mbg.generated-->
        <!--@Table park_reserve-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="res_id" jdbcType="VARCHAR" property="resId"/>
        <result column="res_name" jdbcType="VARCHAR" property="resName"/>
        <result column="reserve_name" jdbcType="VARCHAR" property="reserveName"/>
        <result column="stat_time" jdbcType="TIMESTAMP" property="statTime"/>
        <result column="stop_time" jdbcType="TIMESTAMP" property="stopTime"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="audit_status" jdbcType="INTEGER" property="auditStatus"/>
        <result column="audit_date" jdbcType="TIMESTAMP" property="auditDate"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="is_flag" jdbcType="INTEGER" property="isFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        res_id,
        res_name,
        reserve_name,
        stat_time,
        stop_time,
        reason,
        audit_status,
        audit_date,
        create_id,
        is_flag,
        create_time
    </sql>

    <select id="selectParkReserveList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from park_reserve
        <where>
            is_flag = 0
            <if test="resId != null  and resId != ''">
                and res_id =
                    #{resId}
            </if>
            <if test="resName != null  and resName != ''">
                and res_name
                    like
                    concat('%', #{resName}, '%')
            </if>
            <if test="reserveName != null  and reserveName != ''">
                and reserve_name
                    like
                    concat
                        (
                            '%',
                            #{reserveName},
                            '%'
                        )
            </if>
            <if test="statTime != null">
                and stat_time
                    =
                    #{statTime}
            </if>
            <if test="stopTime != null">
                and stop_time
                    =
                    #{stopTime}
            </if>
            <if test="reason != null  and reason != ''">
                and reason
                    =
                    #{reason}
            </if>
            <if test="auditStatus != null">
                and audit_status
                    =
                    #{auditStatus}
            </if>
            <if test="createId != null  and createId != ''">
                and create_id
                    =
                    #{createId}
            </if>
        </where>
    </select>

    <select id="selectParkReserveById" parameterType="String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from park_reserve
        where id =
              #{id}
    </select>

    <insert id="insertParkReserve">
        insert into park_reserve
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="resId != null and resId != ''">
                res_id,
            </if>
            <if test="resName != null and resName != ''">
                res_name,
            </if>
            <if test="reserveName != null and reserveName != ''">
                reserve_name,
            </if>
            <if test="statTime != null">
                stat_time,
            </if>
            <if test="stopTime != null">
                stop_time,
            </if>
            <if test="reason != null and reason != ''">
                reason,
            </if>
            <if test="auditStatus != null">
                audit_status,
            </if>
            <if test="auditDate != null">
                audit_date,
            </if>
            <if test="createId != null and createId != ''">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="resId != null and resId != ''">
                #{resId},
            </if>
            <if test="resName != null and resName != ''">
                #{resName},
            </if>
            <if test="reserveName != null and reserveName != ''">
                #{reserveName},
            </if>
            <if test="statTime != null">
                #{statTime},
            </if>
            <if test="stopTime != null">
                #{stopTime},
            </if>
            <if test="reason != null and reason != ''">
                #{reason},
            </if>
            <if test="auditStatus != null">
                #{auditStatus},
            </if>
            <if test="auditDate != null">
                #{auditDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null and createId != ''">
                #{createId},
            </if>
            <if test="isFlag != null">
                #{isFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateParkReserve">
        update park_reserve
        <trim prefix="SET" suffixOverrides=",">
            <if test="resId != null and resId != ''">
                res_id =
                    #{resId},
            </if>
            <if test="resName != null and resName != ''">
                res_name =
                    #{resName},
            </if>
            <if test="reserveName != null and reserveName != ''">
                reserve_name =
                    #{reserveName},
            </if>
            <if test="statTime != null">
                stat_time =
                    #{statTime},
            </if>
            <if test="stopTime != null">
                stop_time =
                    #{stopTime},
            </if>
            <if test="reason != null and reason != ''">
                reason =
                    #{reason},
            </if>
            <if test="auditStatus != null">
                audit_status =
                    #{auditStatus},
            </if>
            <if test="auditDate != null">
                audit_date = #{auditDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null and createId != ''">
                create_id =
                    #{createId},
            </if>
            <if test="isFlag != null">
                is_flag =
                    #{isFlag},
            </if>
            <if test="createTime != null">
                create_time =
                    #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteParkReserveById" parameterType="String">
        delete
        from park_reserve
        where id = #{id}
    </delete>

    <update id="deleteParkReserveByIds" parameterType="String">
        update park_reserve
        set is_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>