<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.RentSellMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.RentSell">
    <!--@mbg.generated-->
    <!--@Table rent_sell-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="houses_id" jdbcType="VARCHAR" property="housesId" />
    <result column="sell_id" jdbcType="VARCHAR" property="sellId" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="sell_time" jdbcType="VARCHAR" property="sellTime" />
    <result column="sell_money" jdbcType="VARCHAR" property="sellMoney" />
    <result column="seller" jdbcType="VARCHAR" property="seller" />
    <result column="rent_status" jdbcType="INTEGER" property="rentStatus" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="is_flag" jdbcType="INTEGER" property="isFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, houses_id, sell_id, owner_id, sell_time, sell_money, seller, rent_status, create_id, 
    is_flag, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from rent_sell
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from rent_sell
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.ruoyi.property.domain.RentSell">
    <!--@mbg.generated-->
    insert into rent_sell
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="housesId != null">
        houses_id,
      </if>
      <if test="sellId != null">
        sell_id,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="sellTime != null">
        sell_time,
      </if>
      <if test="sellMoney != null">
        sell_money,
      </if>
      <if test="seller != null">
        seller,
      </if>
      <if test="rentStatus != null">
        rent_status,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="isFlag != null">
        is_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="housesId != null">
        #{housesId,jdbcType=VARCHAR},
      </if>
      <if test="sellId != null">
        #{sellId,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="sellTime != null">
        #{sellTime,jdbcType=VARCHAR},
      </if>
      <if test="sellMoney != null">
        #{sellMoney,jdbcType=VARCHAR},
      </if>
      <if test="seller != null">
        #{seller,jdbcType=VARCHAR},
      </if>
      <if test="rentStatus != null">
        #{rentStatus,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        #{isFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.property.domain.RentSell">
    <!--@mbg.generated-->
    update rent_sell
    <set>
      <if test="housesId != null">
        houses_id = #{housesId,jdbcType=VARCHAR},
      </if>
      <if test="sellId != null">
        sell_id = #{sellId,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="sellTime != null">
        sell_time = #{sellTime,jdbcType=VARCHAR},
      </if>
      <if test="sellMoney != null">
        sell_money = #{sellMoney,jdbcType=VARCHAR},
      </if>
      <if test="seller != null">
        seller = #{seller,jdbcType=VARCHAR},
      </if>
      <if test="rentStatus != null">
        rent_status = #{rentStatus,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        is_flag = #{isFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="selectRentSellList">
        select
        <include refid="Base_Column_List" />
        from rent_sell
        <where>
            is_flag = 0
            <if test="housesId != null  and housesId != ''">
                and houses_id =
                    #{housesId}
            </if>
            <if test="sellId != null  and sellId != ''">
                and sell_id
                    =
                    #{sellId}
            </if>
            <if test="ownerId != null  and ownerId != ''">
                and owner_id
                    =
                    #{ownerId}
            </if>
            <if test="sellTime != null  and sellTime != ''">
                and sell_time
                    =
                    #{sellTime}
            </if>
            <if test="sellMoney != null  and sellMoney != ''">
                and sell_money
                    =
                    #{sellMoney}
            </if>
            <if test="seller != null  and seller != ''">
                and seller
                    =
                    #{seller}
            </if>
            <if test="rentStatus != null">
                and rent_status
                    =
                    #{rentStatus}
            </if>
            <if test="createId != null  and createId != ''">
                and create_id
                    =
                    #{createId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                <!-- 开始时间检索 -->
                AND date_format(create_time, '%y%m%d') &gt;= date_format(#{params.beginTime}, '%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <!-- 结束时间检索 -->
                AND date_format(create_time, '%y%m%d') &lt;= date_format(#{params.endTime}, '%y%m%d')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectRentSellById" parameterType="String">
        select
        <include refid="Base_Column_List" />
        from rent_sell
        where id =
              #{id}
    </select>

    <insert id="insertRentSell">
        insert into rent_sell
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="housesId != null and housesId != ''">
                houses_id,
            </if>
            <if test="sellId != null and sellId != ''">
                sell_id,
            </if>
            <if test="ownerId != null and ownerId != ''">
                owner_id,
            </if>
            <if test="sellTime != null and sellTime != ''">
                sell_time,
            </if>
            <if test="sellMoney != null and sellMoney != ''">
                sell_money,
            </if>
            <if test="seller != null and seller != ''">
                seller,
            </if>
            <if test="rentStatus != null">
                rent_status,
            </if>
            <if test="createId != null and createId != ''">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="housesId != null and housesId != ''">
                #{housesId},
            </if>
            <if test="sellId != null and sellId != ''">
                #{sellId},
            </if>
            <if test="ownerId != null and ownerId != ''">
                #{ownerId},
            </if>
            <if test="sellTime != null and sellTime != ''">
                #{sellTime},
            </if>
            <if test="sellMoney != null and sellMoney != ''">
                #{sellMoney},
            </if>
            <if test="seller != null and seller != ''">
                #{seller},
            </if>
            <if test="rentStatus != null">
                #{rentStatus},
            </if>
            <if test="createId != null and createId != ''">
                #{createId},
            </if>
            <if test="isFlag != null">
                #{isFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateRentSell">
        update rent_sell
        <trim prefix="SET" suffixOverrides=",">
            <if test="housesId != null and housesId != ''">
                houses_id =
                    #{housesId},
            </if>
            <if test="sellId != null and sellId != ''">
                sell_id =
                    #{sellId},
            </if>
            <if test="ownerId != null and ownerId != ''">
                owner_id =
                    #{ownerId},
            </if>
            <if test="sellTime != null and sellTime != ''">
                sell_time =
                    #{sellTime},
            </if>
            <if test="sellMoney != null and sellMoney != ''">
                sell_money =
                    #{sellMoney},
            </if>
            <if test="seller != null and seller != ''">
                seller =
                    #{seller},
            </if>
            <if test="rentStatus != null">
                rent_status =
                    #{rentStatus},
            </if>
            <if test="createId != null and createId != ''">
                create_id =
                    #{createId},
            </if>
            <if test="isFlag != null">
                is_flag =
                    #{isFlag},
            </if>
            <if test="createTime != null">
                create_time =
                    #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRentSellById" parameterType="String">
        delete
        from rent_sell
        where id = #{id}
    </delete>

    <update id="deleteRentSellByIds" parameterType="String">
        update rent_sell
        set is_flag = 1 where id in
        <foreach close=")" collection="array" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </update>
</mapper>