<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.ReportMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.Report">
        <!--@mbg.generated-->
        <!--@Table report-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="report_content" jdbcType="VARCHAR" property="reportContent"/>
        <result column="audit_user_id" jdbcType="VARCHAR" property="auditUserId"/>
        <result column="audit_status" jdbcType="INTEGER" property="auditStatus"/>
        <result column="audit_content" jdbcType="VARCHAR" property="auditContent"/>
        <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="is_flag" jdbcType="INTEGER" property="isFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        type_id,
        report_content,
        audit_user_id,
        audit_status,
        audit_content,
        audit_time,
        create_id,
        is_flag,
        create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from report
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from report
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insertSelective" parameterType="com.ruoyi.property.domain.Report">
        <!--@mbg.generated-->
        insert into report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="reportContent != null">
                report_content,
            </if>
            <if test="auditUserId != null">
                audit_user_id,
            </if>
            <if test="auditStatus != null">
                audit_status,
            </if>
            <if test="auditContent != null">
                audit_content,
            </if>
            <if test="auditTime != null">
                audit_time,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="reportContent != null">
                #{reportContent,jdbcType=VARCHAR},
            </if>
            <if test="auditUserId != null">
                #{auditUserId,jdbcType=VARCHAR},
            </if>
            <if test="auditStatus != null">
                #{auditStatus,jdbcType=INTEGER},
            </if>
            <if test="auditContent != null">
                #{auditContent,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null">
                #{auditTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="isFlag != null">
                #{isFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.property.domain.Report">
        <!--@mbg.generated-->
        update report
        <set>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=INTEGER},
            </if>
            <if test="reportContent != null">
                report_content = #{reportContent,jdbcType=VARCHAR},
            </if>
            <if test="auditUserId != null">
                audit_user_id = #{auditUserId,jdbcType=VARCHAR},
            </if>
            <if test="auditStatus != null">
                audit_status = #{auditStatus,jdbcType=INTEGER},
            </if>
            <if test="auditContent != null">
                audit_content = #{auditContent,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null">
                audit_time = #{auditTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=VARCHAR},
            </if>
            <if test="isFlag != null">
                is_flag = #{isFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectReportList">
        select
        <include refid="Base_Column_List"/>
        from report
        <where>
            is_flag = 0
            <if test="typeId != null">
                and type_id =
                    #{typeId}
            </if>
            <if test="reportContent != null  and reportContent != ''">
                and report_content
                    =
                    #{reportContent}
            </if>
            <if test="auditUserId != null  and auditUserId != ''">
                and audit_user_id
                    =
                    #{auditUserId}
            </if>
            <if test="auditStatus != null">
                and audit_status
                    =
                    #{auditStatus}
            </if>
            <if test="auditContent != null  and auditContent != ''">
                and audit_content
                    =
                    #{auditContent}
            </if>
            <if test="auditTime != null">
                and audit_time
                    =
                    #{auditTime}
            </if>
            <if test="createId != null  and createId != ''">
                and create_id
                    =
                    #{createId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                <!-- 开始时间检索 -->
                AND date_format(create_time, '%y%m%d') &gt;= date_format(#{params.beginTime}, '%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                <!-- 结束时间检索 -->
                AND date_format(create_time, '%y%m%d') &lt;= date_format(#{params.endTime}, '%y%m%d')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectReportById" parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from report
        where id =
              #{id}
    </select>

    <insert id="insertReport">
        insert into report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="reportContent != null and reportContent != ''">
                report_content,
            </if>
            <if test="auditUserId != null and auditUserId != ''">
                audit_user_id,
            </if>
            <if test="auditStatus != null">
                audit_status,
            </if>
            <if test="auditContent != null">
                audit_content,
            </if>
            <if test="auditTime != null">
                audit_time,
            </if>
            <if test="createId != null and createId != ''">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="typeId != null">
                #{typeId},
            </if>
            <if test="reportContent != null and reportContent != ''">
                #{reportContent},
            </if>
            <if test="auditUserId != null and auditUserId != ''">
                #{auditUserId},
            </if>
            <if test="auditStatus != null">
                #{auditStatus},
            </if>
            <if test="auditContent != null">
                #{auditContent},
            </if>
            <if test="auditTime != null">
                #{auditTime},
            </if>
            <if test="createId != null and createId != ''">
                #{createId},
            </if>
            <if test="isFlag != null">
                #{isFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateReport">
        update report
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeId != null">
                type_id =
                    #{typeId},
            </if>
            <if test="reportContent != null and reportContent != ''">
                report_content =
                    #{reportContent},
            </if>
            <if test="auditUserId != null and auditUserId != ''">
                audit_user_id =
                    #{auditUserId},
            </if>
            <if test="auditStatus != null">
                audit_status =
                    #{auditStatus},
            </if>
            <if test="auditContent != null">
                audit_content =
                    #{auditContent},
            </if>
            <if test="auditTime != null">
                audit_time =
                    #{auditTime},
            </if>
            <if test="createId != null and createId != ''">
                create_id =
                    #{createId},
            </if>
            <if test="isFlag != null">
                is_flag =
                    #{isFlag},
            </if>
            <if test="createTime != null">
                create_time =
                    #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReportById" parameterType="String">
        delete
        from report
        where id = #{id}
    </delete>

    <update id="deleteReportByIds" parameterType="String">
        update report
        set is_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>