<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.WalletMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.Wallet">
        <!--@mbg.generated-->
        <!--@Table visit-->
        <id column="owner_id" jdbcType="VARCHAR" property="ownerId"/>
        <result column="balance" jdbcType="DECIMAL" property="balance"/>
        <result column="frozen" jdbcType="BOOLEAN" property="frozen"/>
        <result column="checked_at" jdbcType="TIMESTAMP" property="checkedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        owner_id,
        balance,
        frozen,
        checked_at
    </sql>
    <insert id="createIfNotExists" parameterType="java.lang.String">
        INSERT IGNORE INTO wallets
            (owner_id, balance, frozen)
        VALUES
            (#{ownerId}, 0, 0);
    </insert>
    <select id="getForUpdate" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM wallets WHERE owner_id = #{ownerId} LIMIT 1;
    </select>
</mapper>