<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.property.mapper.WorkerMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.property.domain.Worker">
        <!--@mbg.generated-->
        <!--@Table worker-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="job_num" jdbcType="VARCHAR" property="jobNum"/>
        <result column="task_content" jdbcType="VARCHAR" property="taskContent"/>
        <result column="push_status" jdbcType="INTEGER" property="pushStatus"/>
        <result column="push_date" jdbcType="TIMESTAMP" property="pushDate"/>
        <result column="finish_status" jdbcType="INTEGER" property="finishStatus"/>
        <result column="finish_date" jdbcType="TIMESTAMP" property="finishDate"/>
        <result column="create_id" jdbcType="VARCHAR" property="createId"/>
        <result column="is_flag" jdbcType="INTEGER" property="isFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        username,
        dept_id,
        job_num,
        task_content,
        push_status,
        push_date,
        finish_status,
        finish_date,
        create_id,
        is_flag,
        create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from worker
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from worker
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insertSelective" parameterType="com.ruoyi.property.domain.Worker">
        <!--@mbg.generated-->
        insert into worker
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="jobNum != null">
                job_num,
            </if>
            <if test="taskContent != null">
                task_content,
            </if>
            <if test="pushStatus != null">
                push_status,
            </if>
            <if test="pushDate != null">
                push_date,
            </if>
            <if test="finishStatus != null">
                finish_status,
            </if>
            <if test="finishDate != null">
                finish_date,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="jobNum != null">
                #{jobNum,jdbcType=VARCHAR},
            </if>
            <if test="taskContent != null">
                #{taskContent,jdbcType=VARCHAR},
            </if>
            <if test="pushStatus != null">
                #{pushStatus,jdbcType=INTEGER},
            </if>
            <if test="pushDate != null">
                #{pushDate,jdbcType=TIMESTAMP},
            </if>
            <if test="finishStatus != null">
                #{finishStatus,jdbcType=INTEGER},
            </if>
            <if test="finishDate != null">
                #{finishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="isFlag != null">
                #{isFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.property.domain.Worker">
        <!--@mbg.generated-->
        update worker
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="jobNum != null">
                job_num = #{jobNum,jdbcType=VARCHAR},
            </if>
            <if test="pushStatus != null">
                push_status = #{pushStatus,jdbcType=INTEGER},
            </if>
            <if test="pushDate != null">
                push_date = #{pushDate,jdbcType=TIMESTAMP},
            </if>
            <if test="finishStatus != null">
                finish_status = #{finishStatus,jdbcType=INTEGER},
            </if>
            <if test="finishDate != null">
                finish_date = #{finishDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=VARCHAR},
            </if>
            <if test="isFlag != null">
                is_flag = #{isFlag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectWorkerList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from worker
        <where>
            <if test="username != null  and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="deptId != null">
                and dept_id
                    =
                    #{deptId}
            </if>
            <if test="jobNum != null  and jobNum != ''">
                and job_num
                    =
                    #{jobNum}
            </if>
            <if test="taskContent != null and taskContent != ''">
                and task_content like concat('%', #{taskContent}, '%')
            </if>
            <if test="pushStatus != null">
                and push_status
                    =
                    #{pushStatus}
            </if>
            <if test="pushDate != null">
                and push_date = #{pushDate}
            </if>
            <if test="finishStatus != null">
                and finish_status
                    =
                    #{finishStatus}
            </if>
            <if test="finishDate != null">
                and finish_date
                    =
                    #{finishDate}
            </if>
            <if test="createId != null  and createId != ''">
                and create_id
                    =
                    #{createId}
            </if>
            <if test="isFlag != null">
                and is_flag
                    =
                    #{isFlag}
            </if>
            <!--推送 开始和结束 时间查询-->
            <if test="params.pushBeginTime != null and params.pushBeginTime != ''">
                <!-- 推送 开始时间检索 -->
                AND date_format(push_date, '%y%m%d') &gt;= date_format(#{params.pushBeginTime}, '%y%m%d')
            </if>
            <if test="params.pushEndTime != null and params.pushEndTime != ''">
                <!-- 推送 结束时间检索 -->
                AND date_format(push_date, '%y%m%d') &lt;= date_format(#{params.pushEndTime}, '%y%m%d')
            </if>

            <!--完成 开始和结束 时间查询-->
            <if test="params.finishBeginTime != null and params.finishBeginTime != ''">
                <!-- 完成 开始时间检索 -->
                AND date_format(finish_date, '%y%m%d') &gt;= date_format(#{params.finishBeginTime}, '%y%m%d')
            </if>
            <if test="params.finishEndTime != null and params.finishEndTime != ''">
                <!-- 完成 结束时间检索 -->
                AND date_format(finish_date, '%y%m%d') &lt;= date_format(#{params.finishEndTime}, '%y%m%d')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectWorkerById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from worker
        where id = #{id}
    </select>

    <insert id="insertWorker">
        insert into worker
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null and username != ''">
                username,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="jobNum != null and jobNum != ''">
                job_num,
            </if>
            <if test="taskContent != null and taskContent != ''">
                task_content,
            </if>
            <if test="pushStatus != null">
                push_status,
            </if>
            <if test="pushDate != null">
                push_date,
            </if>
            <if test="finishStatus != null">
                finish_status,
            </if>
            <if test="finishDate != null">
                finish_date,
            </if>
            <if test="createId != null and createId != ''">
                create_id,
            </if>
            <if test="isFlag != null">
                is_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="username != null and username != ''">
                #{username},
            </if>
            <if test="deptId != null">
                #{deptId},
            </if>
            <if test="jobNum != null and jobNum != ''">
                #{jobNum},
            </if>
            <if test="taskContent != null and taskContent != ''">
                #{taskContent},
            </if>
            <if test="pushStatus != null">
                #{pushStatus},
            </if>
            <if test="pushDate != null">
                #{pushDate},
            </if>
            <if test="finishStatus != null">
                #{finishStatus},
            </if>
            <if test="finishDate != null">
                #{finishDate},
            </if>
            <if test="createId != null and createId != ''">
                #{createId},
            </if>
            <if test="isFlag != null">
                #{isFlag},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateWorker">
        update worker
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">
                username =
                    #{username},
            </if>
            <if test="deptId != null">
                dept_id =
                    #{deptId},
            </if>
            <if test="jobNum != null and jobNum != ''">
                job_num =
                    #{jobNum},
            </if>
            <if test="taskContent != null and taskContent != ''">
                task_content = #{taskContent},
            </if>
            <if test="pushStatus != null">
                push_status =
                    #{pushStatus},
            </if>
            <if test="pushDate != null">
                push_date = #{pushDate},
            </if>
            <if test="finishStatus != null">
                finish_status =
                    #{finishStatus},
            </if>
            <if test="finishDate != null">
                finish_date =
                    #{finishDate},
            </if>
            <if test="createId != null and createId != ''">
                create_id =
                    #{createId},
            </if>
            <if test="isFlag != null">
                is_flag =
                    #{isFlag},
            </if>
            <if test="createTime != null">
                create_time =
                    #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWorkerById" parameterType="String">
        delete
        from worker
        where id = #{id}
    </delete>

    <update id="deleteWorkerByIds" parameterType="String">
        update worker
        set is_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>