<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.backstage.mapper.ContractMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.backstage.domain.Contract">
    <!--@mbg.generated-->
    <!--@Table contract-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="party_a" jdbcType="VARCHAR" property="partyA" />
    <result column="party_b" jdbcType="VARCHAR" property="partyB" />
    <result column="contract_money" jdbcType="VARCHAR" property="contractMoney" />
    <result column="contract_status" jdbcType="VARCHAR" property="contractStatus" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="deposit" jdbcType="VARCHAR" property="deposit" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="is_flag" jdbcType="INTEGER" property="isFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, type_id, party_a, party_b, contract_money, contract_status, area, deposit, create_id, 
    is_flag, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from contract
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from contract
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.backstage.domain.Contract">
    <!--@mbg.generated-->
    insert into contract (id, type_id, party_a, 
      party_b, contract_money, contract_status, 
      area, deposit, create_id, 
      is_flag, create_time)
    values (#{id,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{partyA,jdbcType=VARCHAR}, 
      #{partyB,jdbcType=VARCHAR}, #{contractMoney,jdbcType=VARCHAR}, #{contractStatus,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{deposit,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, 
      #{isFlag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.backstage.domain.Contract">
    <!--@mbg.generated-->
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="partyA != null">
        party_a,
      </if>
      <if test="partyB != null">
        party_b,
      </if>
      <if test="contractMoney != null">
        contract_money,
      </if>
      <if test="contractStatus != null">
        contract_status,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="deposit != null">
        deposit,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="isFlag != null">
        is_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="partyA != null">
        #{partyA,jdbcType=VARCHAR},
      </if>
      <if test="partyB != null">
        #{partyB,jdbcType=VARCHAR},
      </if>
      <if test="contractMoney != null">
        #{contractMoney,jdbcType=VARCHAR},
      </if>
      <if test="contractStatus != null">
        #{contractStatus,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null">
        #{deposit,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        #{isFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.backstage.domain.Contract">
    <!--@mbg.generated-->
    update contract
    <set>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="partyA != null">
        party_a = #{partyA,jdbcType=VARCHAR},
      </if>
      <if test="partyB != null">
        party_b = #{partyB,jdbcType=VARCHAR},
      </if>
      <if test="contractMoney != null">
        contract_money = #{contractMoney,jdbcType=VARCHAR},
      </if>
      <if test="contractStatus != null">
        contract_status = #{contractStatus,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="deposit != null">
        deposit = #{deposit,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        is_flag = #{isFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.backstage.domain.Contract">
    <!--@mbg.generated-->
    update contract
    set type_id = #{typeId,jdbcType=VARCHAR},
      party_a = #{partyA,jdbcType=VARCHAR},
      party_b = #{partyB,jdbcType=VARCHAR},
      contract_money = #{contractMoney,jdbcType=VARCHAR},
      contract_status = #{contractStatus,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      deposit = #{deposit,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      is_flag = #{isFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>