<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.backstage.mapper.CruiseMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.backstage.domain.Cruise">
    <!--@mbg.generated-->
    <!--@Table cruise-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="cruise_id" jdbcType="VARCHAR" property="cruiseId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="cruise_content" jdbcType="VARCHAR" property="cruiseContent" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="is_flag" jdbcType="INTEGER" property="isFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, cruise_id, type_id, cruise_content, create_id, is_flag, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from cruise
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from cruise
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.backstage.domain.Cruise">
    <!--@mbg.generated-->
    insert into cruise (id, cruise_id, type_id, 
      cruise_content, create_id, is_flag, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{cruiseId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, 
      #{cruiseContent,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{isFlag,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.backstage.domain.Cruise">
    <!--@mbg.generated-->
    insert into cruise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cruiseId != null">
        cruise_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="cruiseContent != null">
        cruise_content,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="isFlag != null">
        is_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cruiseId != null">
        #{cruiseId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="cruiseContent != null">
        #{cruiseContent,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        #{isFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.backstage.domain.Cruise">
    <!--@mbg.generated-->
    update cruise
    <set>
      <if test="cruiseId != null">
        cruise_id = #{cruiseId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="cruiseContent != null">
        cruise_content = #{cruiseContent,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="isFlag != null">
        is_flag = #{isFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.backstage.domain.Cruise">
    <!--@mbg.generated-->
    update cruise
    set cruise_id = #{cruiseId,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=VARCHAR},
      cruise_content = #{cruiseContent,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      is_flag = #{isFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>